{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- https://www.w3schools.com/django/django_add_css_file.php/django_add_static_files.php -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>Articles</title>
</head>
<body>
    {% block info %}

    {% endblock %}    
</body>
</html>
